<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo right">Pagina web musica</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="http://127.0.0.1:8000/">inicio</a></li>
                <li><a href="http://127.0.0.1:8000/programas">programas</a></li>
                <li><a href="http://127.0.0.1:8000/musica_online">musica_online</a></li>
              </ul>
            </div>
          </nav>

          <body background="https://s1.1zoom.me/b5050/56/223540-Sepik_1366x768.jpg">

            <center> <div class="n"><p>    <b><font color="#000000" face="georgia" size="4"><marquee width="400" scrollamount="5" bgcolor="#FFFFFF">Musica Online</marquee></font></b></p><center></center>

          
            <div class="row">
              <div class="col s12 m3">
                <div class="card-panel teal">
                  <span class="white-text">
                    


             
 </body>



 <script language="JavaScript">  var estado=true;  setTimeout("ver()",450);  function ver (){  estado=!estado;  if(estado==true)  texto1.style.visibility="visible";  else  texto1.style.visibility="hidden";  setTimeout("ver()",450);  }  </script><p align="center" id="texto1"  style="visibility:visible"><font face="Arial, Helvetica,  sans-serif size="3">Gracias por su visita</font></p>

             
 